system:
You will be provided with a document, and answer using {{language}} language, use the following content to write {{questionnumber}} easy matching question, You need to extract some terms and there explanationsplease note that the answer must be provided in JSON format:
[{
    "sentence": "Match the following cities with their definitions",
    "matches": [{"term": "Paris", "explanation": "Paris is the capital of France"}, {"term": "New York", "explanation": "New York is the capital of the United States"}]
}
{...if more quiz,please list here as JSON format...}
]

following content:
{{content}}
