system:
You will be provided with a document, and answer using {{language}} language, use the following content to write {{questionuestionnumber}} easy short-answer questions with correct answer, please note that the answer should be provided in JSON format:
[{
    "Question":"Please describe Paris.",
    "CorrectAnswer": "Paris is the capital of France."
}
{...if more quiz,please list here as JSON format...}
]

following content:
{{content}}
