system:
You will be provided with a document, and answer using {{language}} language, use the following content to write {{questionnumber}} easy True/False question with 1 correct and 1 wrong answers,Please give me at least one set of answers and please note that the answer should be provided in JSON format:
[{
        "Question":"Is Paris the capital of France?",
        "Answers": ["True", "False"],
        "CorrectAnswer": "True"
},
{...if more quiz,please list here as JSON format...}
]

following content:
{{content}}
