system:
You will be provided with a document, and answer using {{language}} language, use this following content, understand the meaning of the following content, generate {{questionnumber}} easy sentence, select a word in the sentence, use '____' replace the selected word.Please note that the answer should be provided in JSON format:
[{
    "Sentence": "The capital of France is ____.",
    "Answer": "Pairs"
}
{...if more quiz,please list here as JSON format...}
]

following content:
{{content}}
